* {
    padding: 20px;
    margin: 0;
    font-family: Segoe Print;
}

figure img {
    width: 80px;
    height: 80px;
}

.column {
    float: left;
}

.wrap {
    overflow: hidden;
    height: 500px;
    max-height: 800px;
    background-color: #eee;
    border: 1px solid #999;
    width: 95%;
}

#left {
    width: 220px;
    margin-left: -100%;

}

#left-wrap {
    padding: 0;
    background-color: white;
    height: 200px;
    margin-left: -60px;
    border: 1px solid #999;
}

#left-wrap figure img {

    margin-top: 30px;
    float: left;
}

#right {
    width: 120px;
    margin-left: -200px;    /*padding|padding|padding|right|padding = 200*/
    height: 200px;
}

#right-wrap {
    padding: 0;
    background-color: white;
    width: 100%;
    margin-left: -20px;
    padding-right: 40px;
    border: 1px solid #999;
    overflow: hidden;
}

#right-wrap figure {
    float: left;
    padding: 0 20px;
}

#right-wrap figure figcaption {
    padding: 0 0 10px 0;
}

#right-wrap figure img {
    padding: 0;
}

#center {
    width: 100%;
    background-color: #eee;
}

#center-wrap {
    background-color: white;
    margin-left: 280px;
    margin-right: 200px;
    border: 1px solid #999;
}

#center-wrap h3 {
    padding: 10px;
}

#center-wrap p {
    padding: 5px;
}